/*
Color Palette:
#5C3317 - Dark Brown
#804720 - Brown
#F7A26C - Tangerine
#CCAF9D - Desert Sand
#E76A1A - Spanish Orange
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
max-width: 100%;
background-color: #5C3317;
}

header {
    background-color: #804720;
}

header img {
    position: relative;
}

h1 {
text-align: center;
font-weight: bold;
font-size: 2em;
color: #E76A1A;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}


blockquote {

}

table {

}

main {
background-color: #5C3317;
}

#container {
    width: 80%;
    display: block;
    text-align: center;
    padding: 5% 0;
    margin: 0 auto;
    min-height: 800px;
    background-color: #5C3317;
    color: #E76A1A;
    font-size: 1em;
}

.fnav {
min-height: 80px;
}

.fnav ul {
display: block;
text-align: center;

}

.fnav ul li {
display: inline-block;
width: 15%;
list-style-type: none;
margin-top: 3%;
}

.fnav a {
color: #E76A1A;
text-decoration: none;
}

.fnav a:hover {

}

footer {
    background-color: #804720;
}

footer p {
text-align: center;

}